body{
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100vh;
    margin: 0;
    background: #1CB9FF;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.demo {
  font-family: 'Raleway', sans-serif;
  color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;    
}
.container{
    width: 100%;
    max-width: 420px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #eee;
    background: rgba(24,24,27,0.6);
    margin: 1em;
}
.button{
    margin: 0.5em;
    border-radius: 50px;
    border: none;
    height: 46px;
    width: 46px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);  
    outline: none;
}
.search-bar{
    border: none;
    border-radius: 24px;
    background: rgb(100, 100, 100);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);  
    color: white;
    font-family: inherit;
    font-size: 120%;
    padding: 0.5em 1em ;
}
h1.temp{
    margin: 0;
    margin-bottom: 0.4em
}
.flex{
    display: flex;
    align-items: center;
}
.description{
    text-transform: capitalize;
    margin-left: 10px;
}
.title{
    text-align: center;
}
.date-container .time{
    padding: 15px;
    font-size: 70px;
    font-weight: 100;
}
.date-container .date{
    font-size: 30px;
    margin-left: 20px;
}
.date-container .date{
    font-size: 30px;
}